{% extends 'Bloger/base.html' %}
{% block content %}
{% load static %}

    {% if user.profile.isStudent %}
    <div class="col-lg-12 mr-3 ml-3">
    <div class="row">
    <div class="col-12">
        {% for homework in Homeworks %}
            <a href="{% url 'solve_homework' homework.id %}">
                <div class="materails col-lg-12 mb-3 text-center">
                    {{ homework.Quastion_title }}</div></a>
        {% endfor %}

    </div>
    </div>
    </div>
{% endif %}
{% endblock content %}